/*
* {
	outline: 1px solid pink;	
}
*/

html, body {
	height: 100%;
	min-width: 600px;
	min-height: 100px;font-family: "Helvetica Neue", Helvetica, sans-serif;
	-webkit-font-smoothing: antialiased;
}

.clickable {
	cursor: pointer;	
}

header {
	height: 10%;
}

h1 {
	display: inline-block;
	font-size: 4vh;
	margin-left: 0.5vw;
	margin-top: 0.5vh;
	color: #162B51;
}

nav {
	display: inline-block;
	float: right;
	font-size: 0;
}

nav div {
	display: inline;	
}

#projects {
	display: block;
	font-size: 0;
	width: 100%;
}

#projects > div {
	display: inline-block;
	font-size: 16px;
	width: 25%;
	height: 50%;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

#p1-img { background-image: url(../images/worldcup.jpg); }
#p2-img { background-image: url(../images/worldcup.jpg); }
#p3-img { background-image: url(../images/worldcup.jpg); }
#p4-img { background-image: url(../images/worldcup.jpg); }
#p5-img { background-image: url(../images/worldcup.jpg); }
#p6-img { background-image: url(../images/worldcup.jpg); }
#p7-img { background-image: url(../images/worldcup.jpg); }
#p8-img { background-image: url(../images/worldcup.jpg); }

.p-inner {
	display: none;
	position: relative;
	background: rgba(0,0,0,0.6);
	height: 100%;
}

.p-inner p {
	position: absolute;
	top: 40%;
	left: 0;
	right: 0;
	text-align: center;
	color: #fff;
	font-weight: bold;
}

#project-details {
	display: none;
	position: relative;
}

.project-details-container {
	position: absolute;
	left: 0;
	right: 0;
	font-size: 0;
	width: 80%;
	height: 300px;
	margin: 10% auto;
}

.project-details-container > div {
	display: inline-block;
	font-size: 16px;
}

.back {
	background-image: url(../images/512px-Chevron_left_font_awesome.svg.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	width: 10%;
	height: 100%;
}

.back:hover {
	zoom: 110%;
}

.project-details-description {
	width: 50%;	
	vertical-align: top;
}

.project-details-description-head {
	font-size: 0;
}

.project-details-description-head h2 {
	display: inline-block;
	font-size: 2vh;
}

.project-details-description-head a {
	display: inline-block;
}

.project-details-screeny {
	width: 40%;
	height: 100%;
}

.project-details-screeny img {
	height: 100%;
}